
<%full_stars = "<i class='fas fa-star'></i>"%>
<%empty_stars = "<i class='far fa-star'></i>"%>
<%half_stars = "<i class='fas fa-star-half-alt'></i>"%>


<% array.each do |duck| %>
<%= link_to duck_path(duck), class: "text-decoration-none" do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=duck.duck_photos.first.url%>)">
    <%= duck.name %>
    <div class="avatar">
      <%= image_tag(duck.user.photo)%>
    </div>
    <div class="stars">
      <p> <%= duck.nb_reviews.to_s + " review(s)"%></p>
      <%duck.show_stars[0].times do %>
        <%= full_stars.html_safe %>
      <%end%>
      <%duck.show_stars[1].times do %>
        <%= half_stars.html_safe %>
      <%end%>
      <%duck.show_stars[2].times do %>
        <%= empty_stars.html_safe %>
      <%end%>
    </div>
    <div class="city">
      <%= duck.user.city%>
    </div>


  </div>
  <% end %>

<% end %>
