<% params[:city].present? ? city = params[:city] : city = "" %>
<% params[:start].present? ? start = params[:start] : start = "" %>
<% params[:end].present? ? end_date = params[:end] : end_date = "" %>


<div class="navbar navbar-expand-sm navbar-light navbar-lewagon bg-green d-flex justify-content-between">

  <div class="d-flex align-items-center">
      <!-- LOGO + NAME  -->
    <div class ="navbar-brand d-flex align-items-center">
      <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
        <div><%= image_tag 'duck.png', class: "mx-1" %></div>
        <div>Ducknd</div>
      <% end %>
    </div>

    <!-- FORM -->
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"><%= image_tag "search.svg", alt: "search" %></span>
    </div>


      <%= simple_form_for "", url: ducks_path, method: :get do |f| %>
        <div class="d-flex align-items-center">
          <div>
            <%= text_field_tag :city,
              params[:query],
              class: "search-field form-control",
              placeholder: "Choose your city",
              value: city
            %>
          </div>
          <div class="">
            <%= f.input :start,
              as: :string,
              required: false,
              label: false,
              placeholder: "From",
              input_html: {
                id: "range_start",
                class: "datepicker ml-2 input-w100px text-center",
                value: start
                } %>
          </div>
          <div>

            <%= f.input :end,
                      as: :string,
                      required: false,
                      label: false,
                      placeholder: "To",
                      input_html: {
                        id: "range_end",
                        class: "datepicker ml-2 input-w100px text-center",
                        value: end_date
                      } %>
          </div>
          <div>
            <%= submit_tag "Search", name: nil, class: "btn btn-primary btn-yellow ml-2" %>
          </div>
        </div>
      <% end %>

  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto align-items-center">
      <li class="nav-item">
        <%= link_to "Sign in", bookings_path, class: "nav-link" %>
      </li>
       <li class="nav-item">
        |
      </li>
      <li class="nav-item">
        <%= link_to "Sign up", bookings_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
