<div class="navbar navbar-expand-sm navbar-light navbar-lewagon bg-green d-flex justify-content-between">

  <div class="d-flex align-items-center">
      <!-- LOGO + NAME  -->
    <div class ="navbar-brand d-flex align-items-center">
      <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
        <div><%= image_tag 'duck.png', class: "mx-1" %></div>
        <div>Ducknd</div>
      <% end %>
    </div>

    <!-- FORM -->
    <%= form_tag ducks_path, method: :get, class:'form-inline', enforce_utf8: false do %>
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><%= image_tag "search.svg", alt: "search" %></span>
      </div>
      <%= text_field_tag :search,
        params[:query],
        class: "search-field form-control",
        placeholder: "Find a duck"
      %>
      <%# submit_tag "Search", name: nil, class: "btn btn-primary btn-yellow ml-1" %>
    <% end %>

  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto align-items-center">
      <li class="nav-item">
        <%= link_to "Booking", bookings_path, class: "nav-link" %>
      </li>
       <li class="nav-item">
        |
      </li>
      <li class="nav-item">
        <%= link_to "Manage", profile_path(current_user), class: "nav-link" %>
      </li>
      <li class="nav-item">
        |
      </li>

      <li class="nav-item">
        <%= link_to "Add a Duck",  new_duck_path, class: "nav-link" %>
      </li>

      <!-- DROPDOWN ON AVATAR -->

      <li class="nav-item dropdown mx-3">
        <%= image_tag user.photo ,
              class: "avatar dropdown-toggle",
              alt: "avatar",
              role: "button",
              data: {
                toggle: "dropdown"
              },
              aria: {
                haspopup: true,
                expanded: false
              }
        %>
        <!-- DROPDOWN MENU -->
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Book a duck",  ducks_path, class: "dropdown-item" %>
          <%= link_to "Add a Duck",  new_duck_path, class: "dropdown-item" %>
          <%= link_to "Manage your ducks",  profile_path(current_user.id), class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "Profile",  "#", class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", method: :delete %>
        </div>

      </li>

    </ul>
  </div>
</div>
