
<h1>Ducks#index</h1>
<p>Find me in app/views/ducks/index.html.erb</p>
<div class="container">
  <ul>
    <% @ducks.each do |card| %>
      <li data-duck-id="<%= duck.id %>"
        <%= duck.name %>
        <%= img_tag '/shared/card', class="card" %>
      </li>
    <% end %>
  </ul>
</div>
<!-- TODO: refacto avec partials -->
<% if params[:search].present? &&  @users == [] %>

  <div class="alert alert-info center-block">
    <strong>Sorry!</strong> No ducks found in <%= params[:search].downcase.capitalize %> :(
  </div>

<% else %>

  <div class="container">
    <% if params[:search].present? && @users != [] %>

      <h2>Our best ducks in <%= params[:search] %></h2>

    <% else %>

      <h2>Our best ducks</h2>

    <% end %>

    <div class="cards">
      <% @users.each do |user| %>
        <%= render"shared/card", array: user.ducks %>
      <% end %>
    </div>

  </div>

<% end %>
