<div class= "container">
  <h1 class="text-center my-3">Add your duck</h1>
  <div>
<<<<<<< HEAD
      <%= simple_form_for @duck do |f| %>
      <%= f.input :name %>
      <%= f.input :birthdate %>
      <%= f.input :race %>
      <%= f.input :sex %>
      <%= f.input :weight %>
      <%= f.input :colour %>
      <%= f.input :tags %>
    <%= f.submit "new duck", class: "btn btn-primary"%>
=======
    <%= simple_form_for @duck do |f| %>
    <%= f.input :name %>
    <%= f.input :birthdate %>
    <%= f.input :race %>
    <%= f.input :sex %>
    <%= f.input :weight %>
    <%= f.input :colour %>
    <%= f.input :tags %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit "new duck", class: "btn btn-primary" %>
>>>>>>> 4a399f5041e9d444dfac3657e31c07b1b25bf9a1
    <% end %>
  </div>

</div>
