<%= render '/navbarlogged'%>
<div class="container"
  <div>
    <ul class= >
      <% @ducks.each do |d|%>
      <li><%=d.name%></li>
      <li><%=d.city%></li>
      <li><%=d.race%></li>
      <li><%=d.sex%></li>
      <li><%=d.colour%></li>
      <li><%=d.star%></li>
    </ul>
  </div>
</div>
