

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1525538182201-02cd1909effb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80);">
  <div class="container">
    <h1>Ducknb</h1>
    <p>Find your best duck for a week</p>



      <%= simple_form_for "", url: ducks_path, method: :get do |f| %>
        <div class="form-inline home-form">
          <%= f.input :city,
                      as: :string,
                      required: false,
                      label: false,
                      placeholder: "Lille",
                      input_html: {class: " form-control input-text-blue-duck"} %>
          <%= f.input :start,
                      as: :string,
                      required: false,
                      label: false,
                      placeholder: "01/01/2019",
                      input_html: {
                        id: "range_start",
                        class: "datepicker form-control input-w200px text-center input-text-blue-duck"
                        } %>

          <%= f.input :end,
                      as: :string,
                      required: false,
                      label: false,
                      placeholder: "08/01/2019",
                      input_html: {
                        id: "range_end",
                        class: "datepicker form-control input-w200px text-center input-text-blue-duck d-none"
                      } %>

          <%= submit_tag "Search", name: nil, class: "btn btn-flat-blue" %>
          <%= link_to "Rent your duck", new_duck_path, class: "btn btn-flat" %>
        </div>
      <% end %>
  </div>
</div>

<div class="container">
  <h3>Ducks of the moment !</h3>
  <div class="cards">
    <%= render"shared/card", array: @ducks_of_the_moment%>
  </div>
</div>
