<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex justify-content-between">
  <div class="d-flex align-items-center">
    <span class ="navbar-brand">
      <%= image_tag 'duck_logo.jpg', class: "navbar-brand" %>Ducknb
    </span>

    <%= form_tag ducks_path, method: :get, class:'form-inline', enforce_utf8: false do %>
      <%= text_field_tag :search,
        params[:query],
        class: "form-control",
        placeholder: "Find a duck"
      %>
      <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
    <% end %>

    <!-- <form action="ducks">
      <input type="text" name="search">
      <input type="submit" name="" value="Search">
    </form> -->
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto align-items-center">
      <li class="nav-item">
        <%= link_to "Add a Duck",  new_duck_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        |
      </li>
         <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        |
      </li>
      <li class="nav-item">
        <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
      </li>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar", alt: "avatar" %>
    </ul>
  </div>
</div>
