  <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ducknb</title>
    <%= favicon_link_tag asset_path('duck.png') %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script src="https://kit.fontawesome.com/c9140bb46c.js"></script>
    <%= stylesheet_pack_tag 'application' %>
  </head>
  <body>
    <%= render 'shared/flashes' %>
    <%#= render 'shared/navbar_home' if     params[:action] != "home"  %>
    <%#= render 'shared/navbar'      unless params[:action] != "home" %>

    <% if user_signed_in? && params[:action] != "home" %>
      <%= render 'shared/navbarlogged', user: current_user %>
    <% end %>

    <% if !user_signed_in? && params[:action] != "home" %>
      <%= render 'shared/navbarunlogged', user: current_user %>
    <% end %>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
